appdirs==1.4.4
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.3.2
ConfigArgParse==1.7
connection-pool==0.0.3
datrie==0.8.2
docutils==0.20.1
dpath==2.1.6
ete3==3.1.3
fastjsonschema==2.18.1
gitdb==4.0.11
GitPython==3.1.40
humanfriendly==10.0
idna==3.4
importlib-resources==6.1.0
Jinja2==3.1.2
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter-core==5.5.0
MarkupSafe==2.1.3
nbformat==5.9.2
numpy==1.24.4
packaging==23.2
pandas==2.0.3
patsy==0.5.3
pkgutil-resolve-name==1.3.10
plac==1.4.1
platformdirs==3.11.0
psutil==5.9.6
PuLP==2.7.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.30.2
requests==2.31.0
reretry==0.11.8
rpds-py==0.12.0
scipy==1.10.1
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
snakemake==7.32.4
statsmodels==0.14.0
stopit==1.1.2
tabulate==0.9.0
throttler==1.2.2
toposort==1.10
traitlets==5.13.0
tzdata==2023.3
urllib3==2.0.7
wrapt==1.15.0
yte==1.5.1
zipp==3.17.0
